 .custom-header {
    padding: 0.2rem 2rem;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.custom-header .logo {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2f4f6f;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.custom-header nav {
    display: flex;
    gap: 2rem;
}

.custom-header a {
    font-size: 1.1rem;
    color: #2f4f6f;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.custom-header nav a:hover {
    color: #56c6d1;
}

.dropdown {
    position: relative;
}

nav {
    display: flex;
    gap: 1rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.dropdown:hover>.dropdown-content {
    display: block;
}

.dropdown-content .dropdown {
    position: relative;
}

.dropdown-content .dropdown-content {
    display: none;
    /* Ocultar por defecto */
    top: 0;
    left: -100%;
    /* Posicionar a la izquierda del padre */
    background-color: #f0f0f0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content .dropdown:hover>.dropdown-content {
    display: block;
    /* Mostrar submenú al pasar el ratón */
}